// ---------------------------------
// ESTILOS PARA LA PÁGINA INDEX.HTML
// ---------------------------------
.grid{
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap:10px;
  width:100vw;
  padding:10px;
}

.grid__item-1{ /*Título*/
  display:flex;
  flex-direction: column;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  justify-content: center;
}

.grid__title{
  display:flex;
  flex-direction: column;
  margin:0;
  font-size: 21cqw;
  line-height: 0.8;
  color: $primary;
  transition: color 0.5s ease-in-out;
}

.grid__title:hover{
  color: $secondary;
}

.grid__item-2{ /*Imagen detrás 1*/
  grid-row: 1 / 4;
  grid-column: 4 / 7;
  overflow: hidden;
}

.grid__item-3{ /*Imagen delante 1*/
  grid-row: 1 / 4;
  grid-column: 4 / 7;
  overflow: hidden;
  opacity:1;
  transition: opacity 0.5s ease-in-out;
}

.grid__item-3:hover{
  opacity:0;
}

.grid__item-4{ /*Fecha y lugar*/
  grid-row: 4 / 5;
  grid-column: 5 / 7;
  align-self: center;
  margin:0;
  font-size: 4vw;
  line-height: 1.2;
  color: $primary;
  text-align: right;
}

.grid__item-5{ /*Descripción evento*/
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  margin:0;
  font-size: 1.9cqw;
  line-height: 1.3;
}

.grid__item-6{ /*Imagen detrás 2*/
  grid-row: 4 / 7;
  grid-column: 1 / 5;
  overflow: hidden;
}

.grid__item-7{ /*Imagen delante 2*/
  grid-row: 4 / 7;
  grid-column: 1 / 5;
  overflow: hidden;
  opacity:1;
  transition: opacity 0.5s ease-in-out;
}

.grid__item-7:hover{
opacity:0;
}

.grid__item-8{ /*Imagen 3*/
  grid-row: 5 / 7;
  grid-column: 5 / 7;
  overflow: hidden;
  transition: transform 2s ease;
}

.grid__item-8:hover{
transform: rotate(180deg);
}

.grid__img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.grid__img-contain{
object-fit: contain;
}

@supports not (display: grid) {
  .grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    container-type: inline-size; 
  }
  
  .grid__item-1, 
  .grid__item-2, 
  .grid__item-3, 
  .grid__item-4, 
  .grid__item-5, 
  .grid__item-6, 
  .grid__item-7, 
  .grid__item-8 {
      position: absolute;
  }
  
  .grid__item-1 {
    top: 10px;
    left: 10px;
    width: calc(50% - 10px);
    height: calc(25% - 10px);
  }
  
  .grid__item-2 {
    top: 10px;
    right: 10px;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
  }
  
  .grid__item-3 {
    top: 10px;
    right: 10px;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
  }
  
  .grid__item-4 {
    right: 10px;
    bottom: calc(33.33% + 20px);
    width: calc(33.33% - 10px);
    height: auto;
    font-size: 24px;
    
    @container (max-width: 768px) {
      font-size: 18px;
    }

  }
  
  .grid__item-5 {
    top: calc(15% + 10px);
    left: 10px;
    width: calc(50% - 20px);
    height: auto;
    font-size: 16px;
      
    @include media-breakpoint-down(md) {
      top: calc(20% + 10px);
    }
      
    @container (max-width: 768px) {
      font-size: 12px;
    }

  }
  
  .grid__item-6 {
    bottom: 10px;
    left: 10px;
    width: calc(66.66% - 10px);
    height: calc(50% - 10px);
  }
  
  .grid__item-7 {
    bottom: 10px;
    left: 10px;
    width: calc(66.66% - 10px);
    height: calc(50% - 10px);
  }
  
  .grid__item-8 {
    right: 10px;
    bottom: 10px;
    width: calc(33.33% - 10px);
    height: calc(33.33% - 10px);
  }
  
  .grid__title {
    font-size: 80px;
  }
  
}