<footer class="menu nav menu-footer">
  <div class="menu__logo">
      <img src="./assets/images/logo.png" class="menu__img" alt="Logotipo de Blue Days">
    </a>
  </div>
  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item"><a href="index.html" class="nav-link">Inicio</a></li>
      <li class="menu__item"><a href="ponentes.html" class="nav-link">Ponentes</a></li>
      <li class="menu__item"><a href="articulo.html" class="nav-link">Economía Azul</a></li>
      <li class="menu__item"><a href="jornadas.html" class="nav-link">Jornadas</a></li>
    </ul>
  </nav>
  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item"><a href="#" class="nav-link"><i class="fa-brands fa-google-plus-g"></i></a></li>
      <li class="menu__item"><a href="#" class="nav-link"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="menu__item"><a href="#" class="nav-link"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </nav>
</footer>
