<header class="menu nav">
  <div class="menu__logo">
    <a class="menu__link" href="index.html">    
      <img src="./assets/images/logo.png" class="menu__img" alt="Logotipo de Blue Days">
    </a>
  </div>
  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item"><a href="ponentes.html" class="nav-link">Ponentes</a></li>
      <li class="menu__item"><a href="articulo.html" class="nav-link">Economía Azul</a></li>
      <li class="menu__item"><a href="jornadas.html" class="nav-link">Jornadas</a></li>
    </ul>
  </nav>
</header>